[submodule "src/thirdParts/pydegensac"]
	path = thirdParts/pydegensac
	url = https://github.com/ducha-aiki/pydegensac.git
[submodule "src/thirdParts/hloc"]
	path = thirdParts/hloc
	url = https://github.com/cvg/Hierarchical-Localization.git
[submodule "src/thirdParts/PSMNet"]
	path = src/thirdParts/PSMNet
	url = git@github.com:franioli/PSMNet.git
