*spyproject/
*ipynb_checkpoints/
*__pycache__
*_old/
*.old/
data/img/
data/calib/calib_fullOpenCVmodel.txt
data/calib/calib_fullOpenCVmodel_matlab.txt
res/
tests/PSMNet/dataset
tests/sfm/epoch0/
tests/sfm/images/
