[submodule "thirdparty/CameraSensorSizeDatabase"]
	path = thirdparty/CameraSensorSizeDatabase
	url = git@github.com:openMVG/CameraSensorSizeDatabase.git
[submodule "thirdparty/SuperGluePretrainedNetwork"]
	path = thirdparty/SuperGluePretrainedNetwork
	url = git@github.com:magicleap/SuperGluePretrainedNetwork.git
